html
  head
    title Todolists
  body
    h1 Todo
    ul
      each val in todo
        li= 'Message: ' + val.message
        li= 'Completion: ' + val.completion
        li= 'Created: ' + val.created_at
        li= 'Updated: ' + val.updated_at
        br
      else
        h1 Todo not found!
